<html>

<script>
/*
    let update_interval = 3000;


    window.setTimeout( function() {
    window.location.reload();
    }, update_interval);
*/

    
    async function job_add_single() {

        const response = await fetch('/api/jobs/add-single', {
            method:'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "job_type": "cmd",
                "cmd": "ls /tmp"})            
        });
        
        const content = await response.json();
        console.log(content);

    }



    async function job_add_multiple() {

        let jobs = []

        for (let i=0; i<10; i++) {
            jobs.push({
                "batch_id": "B1",
                "job_id": "J"+(i+1),
                "job_type": "cmd",
                "cmd": "ls /tmp"});            
        }

        const response = await fetch('/api/jobs/add-multiple', {
            method:'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jobs)
        });

        const content = await response.json();
        console.log(content);

    }


    function jobs_remove_all() {
        fetch('/api/jobs/remove/all');
    }



</script>






<style>

    .tbl1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
    }

    .tbl1 th {
        font-size: 14px;
        padding: 0 10px;
        text-align: left;
    }

    .tbl1 td {
        margin: 4px;
        padding: 0 10px;
    }

</style>







<head>
    <title>Task Runner</title>
</head>


<body>

    <h1>Jobs Overview</h1>
    <button onclick="job_add_single()">Add Single Job</button>
    <button onclick="job_add_multiple()">Add Multiple Job</button>
    <button onclick="jobs_remove_all()">Remove All Jobs</button>
    
    <br /><br /><br />

    <table class="tbl1">

        <thead>
            <tr>
                <th>batch_id</th>
                <th>original_batch_id</th>
                <th>job_id</th>
                <th>original_job_id</th>
                <th>dt_added</th>
                <th>status</th>
                <th>job_type</th>
                <th>ctrl.start</th>
                <th>ctrl.remove</th>
            </tr>

        </thead>

        <tbody>


            {% for job in jobs %}
            <tr>
                <td>{{job['batch_id']}}</td>
                <td>{{job['original_batch_id']}}</td>
                <td>{{job['job_id']}}</td>
                <td>{{job['original_job_id']}}</td>
                <td>{{job['dt_added']}}</td>
                <td>{{job['status']}}</td>
                <td>{{job['job_type']}}</td>
                <td>{% if job['status']=='not-started' %}
                    <a href="/api/jobs/start/{{job['job_id']}}">START</a>
                    {% endif %}
                </td>
                <td>{% if job['status']!='running' %}
                    <a href="/api/jobs/remove/{{job['job_id']}}">REMOVE</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</body>

</html>